*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #000;
}

.container {
    display: flex;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    width: 100vw;
    border-radius: 5px; 

}

.menu-items {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin: 10px 30px;
    cursor: pointer;
}

.menu-items {
    display: flex;
    flex-wrap: wrap; 
    text-align: center;  
    justify-content: center;
}

.menu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    /* left: 80%; */
    width: 100%;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px; 
}

.menu-items a {
    text-decoration: none;
    color: black;
}



.menu-items:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
    /* transform: translateY(-8px); */
    transition: .5s;
}

.logo {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
}

