<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <nav class="navbar">
            <div class="logo">
                <a href="../index.html">Navbar</a> 
            </div>
            <div>
                <ul class="menu">
                    <li class="menu-items"><a href="../index.html">Home</a></li>
                    <li class="menu-items"><a href="../Pages/product.html">Product</a></li>
                    <li class="menu-items"><a href="../Pages/addproduct.html">Add Product</a></li>
                    <li class="menu-items"><a href="../Pages/cart.html">Cart</a></li>
                    <li class="menu-items"><a href="../Pages/login.html"> ${login ? "Logout" : "Login"} </a></li>
                    <li class="menu-items"><a href="../Pages/signup.html"> ${login ? username : "signup"} </a></li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>